.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox .forgot-password {
    margin-left: auto;
}



